@charset "UTF-8";
/*Если указывать внутри сколбок & - это как this - обращение к этому элементу. Можно до, можно после*/
/*@include fontsz("80px","red");*/
/*Переменные*/
a {
	text-decoration: none;
	color: white; }

/*Стили*/
* {
	font-family: 'Montserrat', sans-serif;
	color: white;
	-webkit-transition: 0.5s;
	transition: 0.5s; }

body {
	-webkit-transition: 0s;
	transition: 0s;
	background-color: #121318;
	padding: 0;
	margin: 0; }
	body::-webkit-scrollbar-track {
		background-color: #fff;
		/*Цвет скролла*/ }
	body::-webkit-scrollbar-thumb {
		border-radius: 5px;
		/*Закругление ползунка*/
		background-color: #ccc;
		/*Цвет ползунка*/ }
	body::-webkit-scrollbar {
		width: 6px;
		/*Толщина скролла*/ }

.yellow_text {
	color: #FEC90E; }

.yellow_background {
	cursor: pointer;
	background-color: #FEC90E; }
	.yellow_background:hover {
		background-color: #FFD12C; }

.green_background {
	background-color: #0FA566; }

.purple_background {
	background-color: #7D19FF; }

.blue_text {
	color: #3CD0FF; }

.green_text {
	color: #0FA566; }

.grey_text {
	color: rgba(255, 255, 255, 0.5); }

.red_text {
	color: #FE0E39; }

.logo {
	width: 150px; }
	@media (max-width: 1000px) {
		.logo {
			width: 120px; } }
	@media (max-width: 767px) {
		.logo {
			width: 77px; } }

.df {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap; }

.login_button {
	background-color: transparent;
	border: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer; }
	.login_button img {
		margin-right: 5px;
		width: 17px;
		height: 17px; }
	.login_button span {
		color: rgba(255, 255, 255, 0.5); }
		@media (max-width: 1000px) {
			.login_button span {
				font-size: 14px; } }

.user_avatar_with_button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer; }
	.user_avatar_with_button .user_avatar_with_button_avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%; }
	.user_avatar_with_button .user_avatar_with_button_arrow {
		margin-left: 6px;
		width: 6px; }

.language_switcher {
	display: inline-block;
	position: relative; }
	.language_switcher .language_switcher_visible {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center; }
		.language_switcher .language_switcher_visible .language_switcher_show_unvisible {
			width: 12px;
			padding: 5px;
			cursor: pointer; }
	.language_switcher .language_item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 5px 0px 5px 5px; }
		.language_switcher .language_item img {
			margin-right: 5px;
			width: 24px; }
		@media (max-width: 1000px) {
			.language_switcher .language_item {
				font-size: 14px; } }
	.language_switcher .language_switcher_unvisible {
		position: absolute;
		display: none; }

.drop_down_menu {
	display: none;
	width: 241px;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px 20px 60px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	position: absolute;
	top: 80px;
	right: 20px;
	z-index: 3;
	background: linear-gradient(0deg, #131417, #131417), linear-gradient(147.77deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.105) 100%);
	font-size: 12px; }

.drop_down_menu_user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-weight: 600;
	line-height: 18px; }
	.drop_down_menu_user .drop_down_menu_user_image {
		border-radius: 50%;
		max-width: 30px;
		max-height: 30px;
		margin-right: 12px; }
	@media (max-width: 1000px) {
		.drop_down_menu_user .drop_down_menu_user_name {
			font-size: 14px; } }

.drop_down_menu_message {
	color: #06E0E6;
	font-size: 12px;
	margin-top: 11px; }
	@media (max-width: 767px) {
		.drop_down_menu_message {
			font-size: 9.3px;
			margin-top: 18px; } }

.drop_down_menu_buttons {
	margin: 28px 0px;
	width: 100%;
	position: relative; }
	.drop_down_menu_buttons .drop_down_menu_buttons_element {
		position: relative;
		cursor: pointer;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin-top: 12px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background: #18191C;
		border-radius: 10px;
		border: 0;
		padding: 15px 25px;
		font-size: 16px; }
		@media (max-width: 1200px) {
			.drop_down_menu_buttons .drop_down_menu_buttons_element {
				padding: 9px 15px;
				font-size: 12px; } }
		.drop_down_menu_buttons .drop_down_menu_buttons_element .drop_down_menu_buttons_element_image {
			height: 20px;
			width: 20px;
			margin-right: 25px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center; }
			@media (max-width: 1000px) {
				.drop_down_menu_buttons .drop_down_menu_buttons_element .drop_down_menu_buttons_element_image {
					height: 12px;
					width: 12px;
					margin-right: 12px; } }
			.drop_down_menu_buttons .drop_down_menu_buttons_element .drop_down_menu_buttons_element_image img {
				max-width: 100%;
				max-height: 100%; }
		.drop_down_menu_buttons .drop_down_menu_buttons_element .drop_down_menu_buttons_element_count {
			position: absolute;
			top: 14px;
			right: 18px;
			background-color: #FEC90E;
			border-radius: 50%;
			color: black;
			padding: 2px 7px; }
			@media (max-width: 1200px) {
				.drop_down_menu_buttons .drop_down_menu_buttons_element .drop_down_menu_buttons_element_count {
					top: 9px; } }
			@media (max-width: 1000px) {
				.drop_down_menu_buttons .drop_down_menu_buttons_element .drop_down_menu_buttons_element_count {
					top: 7px; } }
	.drop_down_menu_buttons .drop_down_menu_buttons_element_gradient {
		background: linear-gradient(273.78deg, #930FFC 8.84%, #C824FF 113.82%, #D329FF 151.12%); }

.popup_wrap {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.05);
	-webkit-backdrop-filter: blur(4px);
	        backdrop-filter: blur(4px);
	z-index: 4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }
	.popup_wrap .popup {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		position: relative;
		padding: 71px 40px;
		border: 1px solid rgba(255, 255, 255, 0.24);
		background: linear-gradient(0deg, #131417, #131417), linear-gradient(146.45deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.1176) 100%);
		max-width: 90%;
		max-height: 90%;
		border-radius: 10px;
		overflow: auto; }
		.popup_wrap .popup::-webkit-scrollbar-track {
			background-color: transparent; }
		.popup_wrap .popup::-webkit-scrollbar-thumb {
			border-radius: 10px;
			/*Закругление ползунка*/
			background-color: #ccc;
			/*Цвет ползунка*/ }
		.popup_wrap .popup::-webkit-scrollbar {
			width: 6px;
			/*Толщина скролла*/ }
		.popup_wrap .popup .popup_close {
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer; }
			.popup_wrap .popup .popup_close img {
				width: 12px;
				height: 12px; }
		.popup_wrap .popup .popup_content {
			text-align: center; }
			.popup_wrap .popup .popup_content .popup_content_title {
				font-weight: 600;
				font-size: 32px;
				line-height: 18px;
				text-align: center; }
			.popup_wrap .popup .popup_content .popup_content_image {
				width: 125px;
				height: 125px;
				margin: 40px 0px; }
			.popup_wrap .popup .popup_content .popup_content_form {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column; }
				.popup_wrap .popup .popup_content .popup_content_form .popup_content_form_label {
					font-weight: 500;
					font-size: 14px;
					line-height: 18px;
					color: rgba(255, 255, 255, 0.3); }
				.popup_wrap .popup .popup_content .popup_content_form .popup_content_form_input {
					background: #18191C;
					border-radius: 12px;
					padding: 16px;
					text-align: center;
					color: white;
					border: 0;
					font-size: 12px;
					margin: 20px 0px;
					outline: none;
					border: 1px solid #18191C;
					-webkit-box-sizing: border-box;
					        box-sizing: border-box; }
					.popup_wrap .popup .popup_content .popup_content_form .popup_content_form_input:active, .popup_wrap .popup .popup_content .popup_content_form .popup_content_form_input:hover, .popup_wrap .popup .popup_content .popup_content_form .popup_content_form_input:focus {
						border: 1px solid rgba(255, 255, 255, 0.3); }
				.popup_wrap .popup .popup_content .popup_content_form .popup_content_form_submit {
					color: white;
					padding: 15px;
					background: #1A98D5;
					border-radius: 5px;
					width: 320px;
					max-width: 100%;
					max-width: 100%;
					display: block;
					cursor: pointer;
					margin-top: 20px; }
				.popup_wrap .popup .popup_content .popup_content_form .popup_content_form_text {
					text-align: left;
					font-size: 12px; }
					.popup_wrap .popup .popup_content .popup_content_form .popup_content_form_text a {
						text-decoration: underline;
						color: #1A98D5; }
				.popup_wrap .popup .popup_content .popup_content_form .popup_content_form_text_red {
					color: #FE0E39; }

#popup_wrap, .popup_type_registration, .popup_type_authorization {
	display: none; }

.welcome_block {
	width: 80%;
	margin: auto; }
	@media (max-width: 1500px) {
		.welcome_block {
			width: 90%; } }
	@media (max-width: 1000px) {
		.welcome_block {
			width: 94%; } }
	@media (max-width: 767px) {
		.welcome_block {
			width: 90%; } }
	.welcome_block .welcome_block_main {
		position: relative; }
		.welcome_block .welcome_block_main .welcome_block_main_sides {
			position: relative;
			min-height: 122px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between; }
			.welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_left_header, .welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_right_header {
				font-weight: 600;
				font-size: 82px;
				line-height: 79px;
				letter-spacing: 0.04em; }
				@media (max-width: 1400px) {
					.welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_left_header, .welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_right_header {
						font-size: 70px; } }
				@media (max-width: 1200px) {
					.welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_left_header, .welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_right_header {
						font-size: 60px; } }
				@media (max-width: 1100px) {
					.welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_left_header, .welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_right_header {
						font-size: 50px; } }
				@media (max-width: 767px) {
					.welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_left_header, .welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_right_header {
						font-size: 36px;
						line-height: 36px;
						letter-spacing: 0.04em; } }
			.welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_left_header {
				-webkit-font-feature-settings: 'pnum' on, 'lnum' on;
				        font-feature-settings: 'pnum' on, 'lnum' on;
				background: linear-gradient(74.31deg, #85FFC4 0%, #5CC6FF 45.83%, #BC85FF 80.73%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent; }
			.welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_right_header {
				text-align: right; }
				@media (max-width: 767px) {
					.welcome_block .welcome_block_main .welcome_block_main_sides .welcome_block_main_sides_right_header {
						margin-top: 50px;
						position: absolute;
						right: 0px; } }
		.welcome_block .welcome_block_main .welcome_block_main_addition_blocks {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			overflow: hidden; }
			@media (max-width: 767px) {
				.welcome_block .welcome_block_main .welcome_block_main_addition_blocks {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					margin-top: 400px; } }
			.welcome_block .welcome_block_main .welcome_block_main_addition_blocks .welcome_block_main_addition_blocks_element {
				margin-top: 40px;
				background: rgba(33, 35, 46, 0.2);
				border-radius: 10px;
				padding: 40px 60px;
				font-weight: 700;
				font-size: 18px;
				line-height: 26px;
				width: 385px;
				-webkit-box-sizing: border-box;
				        box-sizing: border-box; }
				@media (max-width: 1400px) {
					.welcome_block .welcome_block_main .welcome_block_main_addition_blocks .welcome_block_main_addition_blocks_element {
						width: 365px;
						padding: 40px 50px; } }
				@media (max-width: 1200px) {
					.welcome_block .welcome_block_main .welcome_block_main_addition_blocks .welcome_block_main_addition_blocks_element {
						width: 325px;
						padding: 40px 30px;
						font-size: 16px; } }
				@media (max-width: 1000px) {
					.welcome_block .welcome_block_main .welcome_block_main_addition_blocks .welcome_block_main_addition_blocks_element {
						width: 305px;
						padding: 20px 20px;
						margin-top: 30px; } }
				@media (max-width: 767px) {
					.welcome_block .welcome_block_main .welcome_block_main_addition_blocks .welcome_block_main_addition_blocks_element {
						width: 100%; } }
			@media screen and (max-width: 1200px) and (min-width: 768px) {
				.welcome_block .welcome_block_main .welcome_block_main_addition_blocks .wbmab2 {
					text-align: right; } }
		.welcome_block .welcome_block_main .welcome_block_main_gradient {
			width: 100%;
			position: relative; }
			@media (max-width: 767px) {
				.welcome_block .welcome_block_main .welcome_block_main_gradient {
					margin-top: 30px; } }
			.welcome_block .welcome_block_main .welcome_block_main_gradient img {
				width: 100%; }
			.welcome_block .welcome_block_main .welcome_block_main_gradient .welcome_block_main_gradient_line {
				position: absolute;
				bottom: 10px; }
		.welcome_block .welcome_block_main .welcome_block_main_gradient_captions {
			height: 20px;
			width: 100%;
			position: relative; }
			.welcome_block .welcome_block_main .welcome_block_main_gradient_captions .welcome_block_main_gradient_captions_element {
				position: absolute;
				font-size: 12px;
				color: #595E76; }
				.welcome_block .welcome_block_main .welcome_block_main_gradient_captions .welcome_block_main_gradient_captions_element:nth-child(1) {
					left: 1%; }
				.welcome_block .welcome_block_main .welcome_block_main_gradient_captions .welcome_block_main_gradient_captions_element:nth-child(2) {
					left: 9%; }
				.welcome_block .welcome_block_main .welcome_block_main_gradient_captions .welcome_block_main_gradient_captions_element:nth-child(3) {
					right: 0; }
		.welcome_block .welcome_block_main .welcome_block_main_bottom {
			margin-top: 60px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between; }
			@media (max-width: 1200px) {
				.welcome_block .welcome_block_main .welcome_block_main_bottom {
					font-size: 14px; } }
			@media (max-width: 1000px) {
				.welcome_block .welcome_block_main .welcome_block_main_bottom {
					margin-top: 30px; } }
			@media (max-width: 767px) {
				.welcome_block .welcome_block_main .welcome_block_main_bottom {
					display: block; } }
		.welcome_block .welcome_block_main .welcome_block_main_absoluteElems {
			position: absolute;
			z-index: 2;
			width: 100%;
			text-align: center; }
			@media (max-width: 767px) {
				.welcome_block .welcome_block_main .welcome_block_main_absoluteElems {
					top: 170px; } }
			.welcome_block .welcome_block_main .welcome_block_main_absoluteElems .welcome_block_main_absoluteElems_phone {
				max-height: 648px;
				max-width: 100%; }
				@media (max-width: 1200px) {
					.welcome_block .welcome_block_main .welcome_block_main_absoluteElems .welcome_block_main_absoluteElems_phone {
						max-height: 600px; } }
				@media (max-width: 1000px) {
					.welcome_block .welcome_block_main .welcome_block_main_absoluteElems .welcome_block_main_absoluteElems_phone {
						max-height: 400px; } }
			.welcome_block .welcome_block_main .welcome_block_main_absoluteElems .welcome_block_main_absoluteElems_line {
				max-width: 65%; }
				@media (max-width: 1200px) {
					.welcome_block .welcome_block_main .welcome_block_main_absoluteElems .welcome_block_main_absoluteElems_line {
						margin-top: 20px; } }
				@media (max-width: 767px) {
					.welcome_block .welcome_block_main .welcome_block_main_absoluteElems .welcome_block_main_absoluteElems_line {
						display: none; } }
			.welcome_block .welcome_block_main .welcome_block_main_absoluteElems .welcome_block_main_absoluteElems_line_rotated {
				max-height: 420px;
				max-width: 100%;
				-webkit-transform: translate(0, -70px);
				        transform: translate(0, -70px); }
				@media (min-width: 768px) {
					.welcome_block .welcome_block_main .welcome_block_main_absoluteElems .welcome_block_main_absoluteElems_line_rotated {
						display: none; } }
	.welcome_block .welcome_block_bottom {
		margin: 50px 0;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center; }
		@media (max-width: 1000px) {
			.welcome_block .welcome_block_bottom {
				margin: 30px 0; } }
		.welcome_block .welcome_block_bottom .welcome_block_bottom_currency {
			position: relative;
			display: inline-block;
			padding: 1px;
			border-radius: 20px;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(7.14%, rgba(255, 255, 255, 0.42)), to(rgba(255, 255, 255, 0.1))), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.42) 7.14%, rgba(255, 255, 255, 0.1) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); }
			.welcome_block .welcome_block_bottom .welcome_block_bottom_currency .welcome_block_bottom_currency_text {
				padding: 30px 45px;
				background-color: #121318;
				border-radius: 20px;
				font-weight: 700;
				font-size: 18.6736px;
				line-height: 16px; }
				@media (max-width: 1000px) {
					.welcome_block .welcome_block_bottom .welcome_block_bottom_currency .welcome_block_bottom_currency_text {
						font-size: 16px;
						padding: 20px 30px; } }
			.welcome_block .welcome_block_bottom .welcome_block_bottom_currency .welcome_block_bottom_currency_yellowArrow {
				position: absolute;
				right: -80px;
				top: 30px; }
				@media (max-width: 1000px) {
					.welcome_block .welcome_block_bottom .welcome_block_bottom_currency .welcome_block_bottom_currency_yellowArrow {
						height: 130px; } }
				@media (max-width: 767px) {
					.welcome_block .welcome_block_bottom .welcome_block_bottom_currency .welcome_block_bottom_currency_yellowArrow {
						display: none; } }
		.welcome_block .welcome_block_bottom .welcome_block_bottom_grey {
			margin-top: 24px;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			color: rgba(255, 255, 255, 0.4); }
			@media (max-width: 1000px) {
				.welcome_block .welcome_block_bottom .welcome_block_bottom_grey {
					font-size: 12px;
					margin: 15px; } }
		.welcome_block .welcome_block_bottom .welcome_block_bottom_registration {
			margin-top: 30px;
			-webkit-box-shadow: 0px 4px 13px rgba(254, 201, 14, 0.4);
			        box-shadow: 0px 4px 13px rgba(254, 201, 14, 0.4);
			border-radius: 20px;
			width: 300px;
			max-width: 100%;
			padding: 25px;
			font-weight: 600;
			font-size: 20px;
			line-height: 26px;
			color: #121318;
			border: 0; }
			@media (max-width: 1000px) {
				.welcome_block .welcome_block_bottom .welcome_block_bottom_registration {
					padding: 15px;
					font-size: 16px;
					margin: 0; } }

.welcome_block_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 50px 0px; }
	@media (max-width: 1000px) {
		.welcome_block_header {
			padding: 30px 0px; } }
	.welcome_block_header .welcome_block_header_item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center; }
		.welcome_block_header .welcome_block_header_item .telegram_icon {
			margin-right: 20px; }
	@media (max-width: 767px) {
		.welcome_block_header .mobile_blind {
			display: none; } }
	@media (min-width: 768px) {
		.welcome_block_header .mobile_visibility {
			display: none; } }

.main_block {
	width: 100vw;
	padding: 0% 4%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; }
	@media (min-width: 768px) {
		.main_block {
			height: 100vh;
			overflow: hidden; }
			.main_block .main_block_menu {
				display: none; } }
	@media (max-width: 767px) {
		.main_block {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column; } }
	@media (min-width: 768px) {
		.main_block .main_block_left, .main_block .main_block_right, .main_block .main_block_center {
			overflow-y: auto;
			max-height: 100%;
			padding: 50px 0px; } }
	.main_block .main_block_left::-webkit-scrollbar-track, .main_block .main_block_right::-webkit-scrollbar-track, .main_block .main_block_center::-webkit-scrollbar-track {
		background-color: transparent;
		/*Цвет скролла*/ }
	.main_block .main_block_left::-webkit-scrollbar-thumb, .main_block .main_block_right::-webkit-scrollbar-thumb, .main_block .main_block_center::-webkit-scrollbar-thumb {
		border-radius: 0px;
		/*Закругление ползунка*/
		background-color: transparent;
		/*Цвет ползунка*/ }
	.main_block .main_block_left::-webkit-scrollbar, .main_block .main_block_right::-webkit-scrollbar, .main_block .main_block_center::-webkit-scrollbar {
		width: 0px;
		/*Толщина скролла*/ }
	.main_block .main_block_left {
		width: 20%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between; }
		.main_block .main_block_left > .login_button {
			font-size: 18px;
			font-weight: 500;
			margin-top: 80px; }
			.main_block .main_block_left > .login_button img {
				width: 20px;
				height: 20px;
				margin-right: 12px; }
		@media (max-width: 767px) {
			.main_block .main_block_left {
				display: none; } }
	@media (min-width: 768px) {
		.main_block .main_block_right {
			width: 20%; } }
	.main_block .main_block_right .main_block_right_element {
		width: 100%; }
		.main_block .main_block_right .main_block_right_element .main_block_right_element_account {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center; }
			.main_block .main_block_right .main_block_right_element .main_block_right_element_account .grey_text {
				font-size: 12px; }
		@media (max-width: 767px) {
			.main_block .main_block_right .main_block_right_element {
				display: none; } }
	.main_block .main_block_right .main_block_right_element_inline {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 40px; }
		@media (max-width: 767px) {
			.main_block .main_block_right .main_block_right_element_inline {
				display: none; } }
		.main_block .main_block_right .main_block_right_element_inline .telegram_icon {
			margin-left: 10px; }
		@media (max-width: 1000px) {
			.main_block .main_block_right .main_block_right_element_inline {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: start;
				    -ms-flex-pack: start;
				        justify-content: flex-start;
				-webkit-box-align: start;
				    -ms-flex-align: start;
				        align-items: flex-start;
				margin-bottom: 20px; }
				.main_block .main_block_right .main_block_right_element_inline .language_switcher .language_item {
					padding-left: 0; }
				.main_block .main_block_right .main_block_right_element_inline .drop_down_menu_user {
					margin-top: 15px; } }
	.main_block .main_block_center {
		max-height: 100%; }
		@media (min-width: 768px) {
			.main_block .main_block_center {
				width: 50%; } }
		.main_block .main_block_center .main_block_center_top {
			width: 100%; }
			.main_block .main_block_center .main_block_center_top .main_block_center_top_element {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				width: 100%;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center; }
				@media screen and (max-width: 479px) {
					.main_block .main_block_center .main_block_center_top .main_block_center_top_element {
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						    -ms-flex-direction: column;
						        flex-direction: column;
						-webkit-box-align: start;
						    -ms-flex-align: start;
						        align-items: flex-start; } }
				.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_name {
					font-weight: 600;
					font-size: 24px;
					line-height: 19px; }
					@media (max-width: 1200px) {
						.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_name {
							font-size: 20px; } }
					@media (max-width: 1000px) {
						.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_name {
							font-size: 16px; } }
				.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_menu {
					background-color: #121317;
					border-radius: 15px;
					padding: 9px 14px; }
					@media screen and (max-width: 479px) {
						.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_menu {
							width: 100%;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-pack: justify;
							    -ms-flex-pack: justify;
							        justify-content: space-between;
							-webkit-box-sizing: border-box;
							        box-sizing: border-box; } }
					.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_menu button {
						font-weight: 500;
						font-size: 12px;
						line-height: 18px;
						color: rgba(255, 255, 255, 0.5);
						width: 91px;
						-webkit-box-sizing: border-box;
						        box-sizing: border-box;
						padding: 9px 0px;
						text-align: center;
						border-radius: 15px;
						border: 0;
						background: transparent;
						cursor: pointer; }
						@media (max-width: 1200px) {
							.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_menu button {
								width: 70px; } }
						@media (max-width: 1200px) {
							.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_menu button {
								width: auto;
								padding: 5px 10px; } }
						@media screen and (max-width: 479px) {
							.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_menu button {
								padding: 10px 30px; } }
					.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_menu .main_block_center_top_element_menu_active {
						background: #18191C;
						color: white; }
				.main_block .main_block_center .main_block_center_top .main_block_center_top_element p {
					line-height: 19px; }
				.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side p {
					font-size: 14px; }
					@media (max-width: 1200px) {
						.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side p {
							font-size: 12px; } }
					@media (max-width: 1000px) {
						.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side p {
							font-size: 10px;
							margin: 0px; } }
				.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side_inner {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					    -ms-flex-align: center;
					        align-items: center; }
					.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side_inner_r {
						-webkit-box-pack: end;
						    -ms-flex-pack: end;
						        justify-content: flex-end; }
						@media screen and (max-width: 479px) {
							.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side_inner_r {
								-webkit-box-pack: start;
								    -ms-flex-pack: start;
								        justify-content: flex-start; } }
				.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side .main_block_center_top_element_side_heading {
					font-weight: 600;
					font-size: 32px;
					line-height: 36px; }
					@media (max-width: 1200px) {
						.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side .main_block_center_top_element_side_heading {
							font-size: 26px; } }
					@media (max-width: 1000px) {
						.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side .main_block_center_top_element_side_heading {
							font-size: 18px; } }
				.main_block .main_block_center .main_block_center_top .main_block_center_top_element .main_block_center_top_element_side_r {
					text-align: right; }
		.main_block .main_block_center .main_block_center_content {
			width: 100%;
			margin-top: 50px; }
			.main_block .main_block_center .main_block_center_content .main_block_center_content_element_line {
				width: 100%;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex; }
				@media (max-width: 1300px) {
					.main_block .main_block_center .main_block_center_content .main_block_center_content_element_line {
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						    -ms-flex-direction: column;
						        flex-direction: column;
						-webkit-box-pack: start;
						    -ms-flex-pack: start;
						        justify-content: flex-start;
						-webkit-box-align: start;
						    -ms-flex-align: start;
						        align-items: flex-start; }
						.main_block .main_block_center .main_block_center_content .main_block_center_content_element_line .forCopy {
							margin-top: 20px; } }
			.main_block .main_block_center .main_block_center_content .create_an_offer {
				width: 100%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				margin: 30px 0px 20px; }
				.main_block .main_block_center .main_block_center_content .create_an_offer .create_an_offer_replay {
					height: 24px; }
					@media screen and (max-width: 1400px) and (min-width: 768px) {
						.main_block .main_block_center .main_block_center_content .create_an_offer .create_an_offer_replay {
							display: none; } }
					@media screen and (max-width: 700px) {
						.main_block .main_block_center .main_block_center_content .create_an_offer .create_an_offer_replay {
							display: none; } }
	.main_block .drop_down_menu_buttons_element {
		margin-top: 20px; }

.statistical_figures {
	margin: 25px 0px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column; }
	.statistical_figures .statistical_figures_element {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 10px 0px;
		font-size: 14px; }
		@media (max-width: 1000px) {
			.statistical_figures .statistical_figures_element {
				font-size: 12px; } }
		.statistical_figures .statistical_figures_element .statistical_figures_element_main {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			margin-right: 5px; }
			.statistical_figures .statistical_figures_element .statistical_figures_element_main img {
				width: 24px;
				height: 24px;
				margin-right: 12px; }
		.statistical_figures .statistical_figures_element .grey_text {
			font-size: 12px;
			text-align: right; }

.btn {
	border: 0;
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	padding: 17px 25px 17px 19px;
	margin: 5px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	line-height: 13px; }
	.btn img {
		height: 16px;
		margin-right: 20px; }
		@media (max-width: 1000px) {
			.btn img {
				margin-right: 10px; } }
	@media (max-width: 1000px) {
		.btn {
			padding: 12px 14px 12px 14px;
			font-size: 14px; } }
	.btn-small {
		padding: 12px 16px 12px 16px;
		font-size: 12px; }
		.btn-small img {
			margin-right: 12px; }
	.btn-blue {
		background-color: #3CD0FF;
		color: black; }
		.btn-blue:hover {
			background-color: #57D7FF; }
	.btn-middle {
		font-size: 14px;
		padding: 12px 16px 12px 16px; }
		.btn-middle img {
			margin-right: 11px; }
	.btn-purple {
		background: linear-gradient(273.78deg, #930FFC 8.84%, #C824FF 53.8%, #D329FF 151.12%); }
	.btn-green {
		background: #0FA566; }
	.btn-yellow {
		background: #FECC0F;
		color: black; }
	.btn-pink {
		background: #FE0E73; }
	.btn-inline {
		display: inline-block; }
	.btn-white_text {
		color: White; }
	.btn-blackgrey {
		background-color: #1D1E22; }
	.btn-mr7 {
		margin-right: 7px; }
	.btn-w100 {
		width: 100%;
		text-align: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center; }

.resources {
	width: 100%; }
	.resources .resources_block {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 17px;
		width: 100%;
		border-radius: 12px;
		margin-top: 20px; }
		@media (max-width: 1000px) {
			.resources .resources_block {
				font-size: 14px; } }
		.resources .resources_block-pink {
			background: linear-gradient(273.78deg, #9310FC 8.84%, #CA25FF 47.63%, #DC6CFF 102.85%); }
		.resources .resources_block-blue {
			background: linear-gradient(273.78deg, #7A9EEF 8.84%, #1AC9EF 47.63%, #00F4F4 102.85%); }
		.resources .resources_block img {
			height: 36px; }
		.resources .resources_block p {
			color: black; }
		.resources .resources_block .resources_block_currency {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			font-weight: 600;
			line-height: 13px; }
			.resources .resources_block .resources_block_currency span {
				color: black; }
			.resources .resources_block .resources_block_currency :first-child {
				font-size: 20px; }
				@media (max-width: 1200px) {
					.resources .resources_block .resources_block_currency :first-child {
						font-size: 16px; } }
				@media screen and (max-width: 1000px) and (min-width: 768px) {
					.resources .resources_block .resources_block_currency :first-child {
						font-size: 14px; } }
			.resources .resources_block .resources_block_currency :nth-child(2) {
				font-size: 16px; }
				@media (max-width: 1200px) {
					.resources .resources_block .resources_block_currency :nth-child(2) {
						font-size: 14px; } }
				@media screen and (max-width: 1000px) and (min-width: 768px) {
					.resources .resources_block .resources_block_currency :nth-child(2) {
						display: none; } }

.decorated_select {
	margin-left: 10px;
	position: relative;
	cursor: pointer; }
	@media (max-width: 1200px) {
		.decorated_select {
			font-size: 14px; } }
	@media (max-width: 1000px) {
		.decorated_select {
			font-size: 12px; } }
	.decorated_select .decorated_select_active {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0px 10px;
		border-radius: 5px;
		background: #FECA0E;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center; }
		.decorated_select .decorated_select_active span {
			border-radius: 5px;
			color: black;
			font-weight: 600; }
		.decorated_select .decorated_select_active_img {
			width: 7px;
			margin-left: 3px; }
	.decorated_select .decorated_select_hide {
		position: absolute;
		display: none;
		background: #191A1E;
		border-radius: 5px;
		padding: 20px 15px; }
		.decorated_select .decorated_select_hide_element {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			color: rgba(255, 255, 255, 0.5);
			margin-bottom: 5px;
			cursor: pointer; }
			.decorated_select .decorated_select_hide_element span {
				margin-right: 5px; }
			.decorated_select .decorated_select_hide_element:hover {
				color: white; }

.forCopy {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #18191C;
	border-radius: 12px;
	padding: 15px 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 100%;
	position: relative; }
	@media (max-width: 450px) {
		.forCopy {
			padding: 15px; } }
	.forCopy_text {
		font-size: 12px; }
		@media (max-width: 450px) {
			.forCopy_text {
				max-width: 85%;
				overflow-y: auto; } }
	.forCopy_button {
		margin-left: 15px;
		cursor: pointer; }
		.forCopy_button img {
			height: 15px; }

@media (max-width: 767px) {
	.mobile_blind {
		display: none; } }

.chart {
	margin-top: 50px;
	width: 100%;
	max-width: 100%; }

.black_box {
	padding: 33px 26px;
	background: #101114;
	border-radius: 30px; }
	.black_box .black_box_header {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center; }
		.black_box .black_box_header .black_box_header_menu_button {
			cursor: pointer;
			background: #18191C;
			border-radius: 5px;
			padding: 12px 10px;
			font-size: 12px;
			line-height: 8px;
			color: rgba(255, 255, 255, 0.5);
			border: 0px; }
			.black_box .black_box_header .black_box_header_menu_button_active {
				background: #FFFFFF;
				color: black; }
			.black_box .black_box_header .black_box_header_menu_button .black_box_header_menu_button_count {
				border-radius: 50%;
				padding: 4px 7px;
				color: black;
				background-color: #FEC90E;
				display: inline-block; }
	.black_box .black_box_elements_bills .black_box_elements_bills_element {
		background: #18191C;
		border-radius: 5px;
		margin-top: 15px;
		padding: 12px 24px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap; }
		.black_box .black_box_elements_bills .black_box_elements_bills_element .black_box_elements_bills_element_item {
			position: relative;
			padding: 5px 10px; }
			.black_box .black_box_elements_bills .black_box_elements_bills_element .black_box_elements_bills_element_item .black_box_elements_bills_element_item_avatar {
				height: 39px;
				width: 39px;
				border-radius: 50%; }
			.black_box .black_box_elements_bills .black_box_elements_bills_element .black_box_elements_bills_element_item .black_box_elements_bills_element_item_top {
				font-weight: 400;
				font-size: 12px;
				line-height: 18px;
				color: rgba(255, 255, 255, 0.5);
				margin-bottom: 6px; }
			.black_box .black_box_elements_bills .black_box_elements_bills_element .black_box_elements_bills_element_item .black_box_elements_bills_element_item_bottom {
				font-weight: 400;
				font-size: 12px;
				line-height: 8px;
				color: #FFFFFF;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center; }
				.black_box .black_box_elements_bills .black_box_elements_bills_element .black_box_elements_bills_element_item .black_box_elements_bills_element_item_bottom img {
					margin-right: 7px;
					height: 12.5px; }
			.black_box .black_box_elements_bills .black_box_elements_bills_element .black_box_elements_bills_element_item_w100 {
				margin-top: 30px;
				width: 100%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap; }
			.black_box .black_box_elements_bills .black_box_elements_bills_element .black_box_elements_bills_element_item_with_image {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				padding: 0 10px; }
				.black_box .black_box_elements_bills .black_box_elements_bills_element .black_box_elements_bills_element_item_with_image .black_box_elements_bills_element_item {
					padding: 5px 10px 0px 0px; }
	.black_box .black_box_elements_bills_empty {
		font-size: 12px;
		padding: 50px 0px;
		font-weight: 600; }
	.black_box .black_box_elements_bills .black_box_elements_bills_statistics {
		margin-top: 7px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%; }
		.black_box .black_box_elements_bills .black_box_elements_bills_statistics .black_box_elements_bills_statistics_block {
			width: 100%;
			padding: 10px 10px;
			margin-top: 0px;
			margin-left: 7px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			background: #18191C;
			border-radius: 5px;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap; }
			.black_box .black_box_elements_bills .black_box_elements_bills_statistics .black_box_elements_bills_statistics_block .black_box_elements_bills_statistics_block_item {
				font-size: 12px;
				min-width: 128px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between; }
				.black_box .black_box_elements_bills .black_box_elements_bills_statistics .black_box_elements_bills_statistics_block .black_box_elements_bills_statistics_block_item img {
					height: 12px; }
		.black_box .black_box_elements_bills .black_box_elements_bills_statistics .black_box_elements_bills_statistics_image {
			min-width: 60px;
			min-height: 60px;
			border-radius: 5px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center; }
			.black_box .black_box_elements_bills .black_box_elements_bills_statistics .black_box_elements_bills_statistics_image img {
				height: 20px; }

.online {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	width: 13px;
	height: 13px;
	bottom: 7px;
	right: 7px;
	border-radius: 50%;
	background: #0FA566;
	border: 2px solid #18191C; }

#menu_p2p, #menu_market, #p2p_sell, #p2p_my_offers, #p2p_archive, #p2p_buy, #market_archive, #market_my_accounts {
	display: none; }
