/*Если указывать внутри сколбок & - это как this - обращение к этому элементу. Можно до, можно после*/
@mixin fontsz($fsz,$c){
	font-size: $fsz;
	color: $c;
}
/*@include fontsz("80px","red");*/
/*Переменные*/
$bgcolor:#121318;
$yellowColor:#FEC90E;
$yellowHoverColor:#FFD12C;
$blueColor:#3CD0FF;
$greenColor:#0FA566;
$greyColor:rgba(255, 255, 255, 0.5);

// zeroing
a{
	text-decoration: none;
	color:white;
}

/*Стили*/
*{
	font-family: 'Montserrat', sans-serif;
	color: white;
	transition:0.5s;
}
body{
	transition: 0s;
	background-color: $bgcolor;
	padding: 0;
	margin: 0;
	&::-webkit-scrollbar-track {
		background-color: #fff; /*Цвет скролла*/
	} 
	&::-webkit-scrollbar-thumb { 
		border-radius: 5px; /*Закругление ползунка*/
		background-color: #ccc; /*Цвет ползунка*/
	} 
	&::-webkit-scrollbar { 
		width: 6px;  /*Толщина скролла*/
	}
}
.yellow_text{color:$yellowColor}
.yellow_background{
	cursor: pointer;
	background-color:$yellowColor;
	&:hover{background-color:$yellowHoverColor;}
}
.blue_text{color:$blueColor}
.green_text{color:$greenColor}
.grey_text{color:$greyColor}

.logo{
	width: 150px;
	@media (max-width: 1000px){width: 120px;}
	@media (max-width: 767px){width: 77px;}
}
.login_button{
	background-color: transparent;
	border:0;
	display: flex;
	align-items:center;
	cursor: pointer;
	img{
		margin-right: 5px;
		width: 17px;
		height: 17px;
	}
	span{
		color:rgba(255, 255, 255, 0.5);
			@media (max-width: 1000px){
			font-size: 14px;
		}
	}

}
.user_avatar_with_button{
	display: flex;
	align-items:center;
	cursor: pointer;
	.user_avatar_with_button_avatar{
		width: 30px;
		height: 30px;
		border-radius:50%;
	}
	.user_avatar_with_button_arrow{
		margin-left: 6px;
		width: 6px;
	}
}
.language_switcher{
	display: inline-block;
	position: relative;
	.language_switcher_visible{
		display: flex;
		align-items:center;
		.language_switcher_show_unvisible{
			width: 12px;
			padding: 5px;
			cursor: pointer;
		}
	}
	.language_item{
		display: flex;
		align-items:center;
		img{
			margin-right: 5px;
			width: 24px;
		}
		padding: 5px 0px 5px 5px;
			@media (max-width: 1000px){
				font-size: 14px;
			}
	}
	.language_switcher_unvisible{
		position: absolute;
		display: none;
	}
}
.drop_down_menu{
	display: none;
	width: 241px;
	max-width: 100%;
	box-sizing:border-box;
	padding: 20px 20px 60px;
	border-radius:10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	position:absolute;
	top:80px;
	right:20px;
	z-index: 3;
	background: linear-gradient(0deg, #131417, #131417),
	linear-gradient(147.77deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.105) 100%);
	font-size: 12px;
}
.drop_down_menu_user{
	display: flex;
	height: 20px;
	align-items:center;
	font-weight: 600;
	line-height: 18px;
	.drop_down_menu_user_image{
		border-radius: 50%;
		max-width: 30px;
		max-height: 30px;
		margin-right: 12px;
	}
	.drop_down_menu_user_name{
		@media (max-width: 1000px){
			font-size: 14px;
		}
	}
}
.drop_down_menu_message{
	color: #06E0E6;
	font-size:12px;
	margin-top: 11px;
	@media (max-width: 767px){
		font-size:9.3px;
		margin-top: 18px;
	}
}
.drop_down_menu_buttons{
	margin: 28px 0px;
	width: 100%;
	position: relative;
	.drop_down_menu_buttons_element{
		position:relative;
		cursor: pointer;
		box-sizing:border-box;
		margin-top: 12px;
		width: 100%;
		display: flex;
		align-items:center;
		background: #18191C;
		border-radius:10px;
		border:0;
		padding: 15px 25px;
		font-size: 16px;
		@media (max-width: 1200px){
			padding: 9px 15px;
			font-size: 12px;
		}
		.drop_down_menu_buttons_element_image{
			height: 20px;
			width: 20px;
			margin-right: 25px;
			@media (max-width: 1000px){
				height: 12px;
				width: 12px;
				margin-right: 12px;
			}
			display: flex;
			align-items:center;
			justify-content: center;
			
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}
		.drop_down_menu_buttons_element_count{
			position: absolute;
			top:14px;
			@media (max-width: 1200px){top:9px;}
			@media (max-width: 1000px){top:7px;}
			right:18px;
			background-color:$yellowColor;
			border-radius:50%;
			color:black;
			padding: 2px 7px;
		}
	}
	.drop_down_menu_buttons_element_gradient{
		background: linear-gradient(273.78deg, #930FFC 8.84%, #C824FF 113.82%, #D329FF 151.12%);
	}
}
.popup_wrap{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(4px);
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items:center;
	.popup{
		box-sizing:border-box;
		position: relative;
		padding: 71px 40px;
		border: 1px solid rgba(255, 255, 255, 0.24);
		background: linear-gradient(0deg, #131417, #131417),
		linear-gradient(146.45deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.1176) 100%);
		max-width: 90%;
		max-height: 90%;
		border-radius: 10px;
		overflow: auto;
		&::-webkit-scrollbar-track {
			background-color: transparent;
		} 
		&::-webkit-scrollbar-thumb { 
			border-radius: 10px; /*Закругление ползунка*/
			background-color: #ccc; /*Цвет ползунка*/
		} 
		&::-webkit-scrollbar { 
			width: 6px;  /*Толщина скролла*/
		}
		.popup_close{
			position: absolute;
			top:20px;
			right:20px;
			cursor: pointer;
			img{
				width: 12px;
				height: 12px;
			}
		}
		.popup_content{
			text-align: center;
			.popup_content_title{
				font-weight: 600;
				font-size: 32px;
				line-height: 18px;
				text-align: center;
			}
			.popup_content_image{
				width: 125px;
				height: 125px;
				margin: 40px 0px;
			}
			.popup_content_form{
				display: flex;
				flex-direction: column;
				.popup_content_form_label{
					font-weight: 500;
					font-size: 14px;
					line-height: 18px;
					color: rgba(255, 255, 255, 0.3);
				}
				.popup_content_form_input{
					background: #18191C;
					border-radius: 12px;
					padding: 16px;
					text-align: center;
					color:white;
					border:0;
					font-size: 12px;
					margin: 20px 0px;
					outline: none;
					border:1px solid #18191C;
					&:active, &:hover, &:focus {
					    border:1px solid rgba(255, 255, 255, 0.3);
					}
					box-sizing:border-box;
				}
				.popup_content_form_submit{
					color:white;
					padding: 15px;
					background: #1A98D5;
					border-radius: 5px;
					width: 320px;
					max-width: 100%;
					max-width: 100%;
					display: block;
					cursor: pointer;
					margin-top: 20px;
				}
				.popup_content_form_text{
					text-align: left;
					font-size: 12px;
					& a{
						text-decoration: underline;
						color:#1A98D5;
					}
				}
				.popup_content_form_text_red{
					color:#FE0E39;
				}
			}
		}
	}
}
#popup_wrap,.popup_type_registration,.popup_type_authorization{
	display: none;
}
.welcome_block{
	width: 80%;
	@media (max-width: 1500px){width: 90%;}
	@media (max-width: 1000px){width: 94%;}
	@media (max-width: 767px){width: 90%;}
	margin: auto;
	.welcome_block_main{
		position: relative;
		.welcome_block_main_sides{
			position: relative;
			min-height: 122px;;
			display: flex;
			justify-content: space-between;
			.welcome_block_main_sides_left_header,.welcome_block_main_sides_right_header{
				font-weight: 600;
				font-size: 82px;
				line-height: 79px;
				letter-spacing: 0.04em;
				@media (max-width: 1400px){font-size: 70px;}
				@media (max-width: 1200px){font-size: 60px;}
				@media (max-width: 1100px){font-size: 50px;}
				@media (max-width: 767px){
					font-size: 36px;
					line-height: 36px;
					letter-spacing: 0.04em;
				}
			}
			.welcome_block_main_sides_left_header{
				font-feature-settings: 'pnum' on, 'lnum' on;
				background: linear-gradient(74.31deg, #85FFC4 0%, #5CC6FF 45.83%, #BC85FF 80.73%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
			.welcome_block_main_sides_right_header{
				text-align: right;
				@media (max-width: 767px){
					margin-top: 50px;
					position: absolute;
					right:0px;
				}
			}
		}
		.welcome_block_main_addition_blocks{
			display: flex;
			justify-content: space-between;
			overflow: hidden;;
			@media (max-width: 767px){
				flex-direction: column;
				margin-top: 400px;
			}
			.welcome_block_main_addition_blocks_element{
				margin-top: 40px;
				background: rgba(33, 35, 46, 0.2);
				border-radius: 10px;
				padding: 40px 60px;
				font-weight: 700;
				font-size: 18px;
				line-height: 26px;
				width: 385px;
				box-sizing: border-box;
				@media (max-width: 1400px){width: 365px;padding: 40px 50px;}
				@media (max-width: 1200px){
					width: 325px;
					padding: 40px 30px;
					font-size: 16px;
				}
				@media (max-width: 1000px){
					width: 305px;
					padding: 20px 20px;
					margin-top: 30px;
				}
				@media (max-width: 767px){
					width: 100%;
				}
			}
			.wbmab2{
				@media screen and (max-width: 1200px) and (min-width: 768px){
					text-align: right;
				}
			}
		}
		.welcome_block_main_gradient{
			width: 100%;
			position: relative;
			@media (max-width: 767px){
				margin-top: 30px;
			}
			img{
				width: 100%;
			}
			.welcome_block_main_gradient_line{
				position: absolute;
				bottom: 10px;
			}
		}
		.welcome_block_main_gradient_captions{
			height: 20px;
			width: 100%;
			position:relative;
			.welcome_block_main_gradient_captions_element{
				position:absolute;
				font-size: 12px;
				color: #595E76;
				&:nth-child(1){left:1%}
				&:nth-child(2){left:9%}
				&:nth-child(3){right:0}
			}
		}
		.welcome_block_main_bottom{
			margin-top: 60px;
			display: flex;
			justify-content: space-between;
			@media (max-width: 1200px){font-size: 14px;}
			@media (max-width: 1000px){
				margin-top: 30px;
			}
			@media (max-width: 767px){
				display: block;
			}
		}
		.welcome_block_main_absoluteElems{
			position:absolute;
			z-index: 2;
			width: 100%;
			text-align: center;
			@media (max-width: 767px){
				top:170px;
			}
			.welcome_block_main_absoluteElems_phone{
				max-height: 648px;
				max-width: 100%;
				@media (max-width: 1200px){
					max-height: 600px;
				}
				@media (max-width: 1000px){
					max-height: 400px;
				}
				@media (max-width: 767px){
					
				}
			}
			.welcome_block_main_absoluteElems_line{
				max-width: 65%;
				@media (max-width: 1200px){
					margin-top:20px;
				}
				@media (max-width: 767px){
					display: none;
				}
			}
			.welcome_block_main_absoluteElems_line_rotated{
				@media (min-width: 768px){
					display: none;
				}
				max-height: 420px;
				max-width: 100%;
				transform: translate(0,-70px);
			}
		}
	}
	.welcome_block_bottom{
		margin: 50px 0;
		@media (max-width: 1000px){margin: 30px 0;}
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.welcome_block_bottom_currency{
			position:relative;
			display: inline-block;
			padding: 1px;
			border-radius: 20px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.42) 7.14%, rgba(255, 255, 255, 0.1) 100%),
linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
			.welcome_block_bottom_currency_text{
				padding: 30px 45px;
				background-color:$bgcolor;
				border-radius: 20px;
				font-weight: 700;
				font-size: 18.6736px;
				line-height: 16px;
				@media (max-width: 1000px){
					font-size: 16px;
					padding: 20px 30px;
				}
			}
			.welcome_block_bottom_currency_yellowArrow{
				position:absolute;
				right:-80px;
				top:30px;
				@media (max-width: 1000px){height: 130px}
				@media (max-width: 767px){display: none;}
			}
		}
		.welcome_block_bottom_grey{
			margin-top: 24px;
			font-weight: 500;
			font-size: 14px;
			@media (max-width: 1000px){
				font-size: 12px;
				margin: 15px;
			}
			line-height: 17px;
			text-align: center;
			color: rgba(255, 255, 255, 0.4);
		}
		.welcome_block_bottom_registration{
			margin-top: 30px;
			box-shadow: 0px 4px 13px rgba(254, 201, 14, 0.4);
			border-radius: 20px;
			width: 300px;
			max-width: 100%;;
			padding: 25px;
			font-weight: 600;
			font-size: 20px;
			line-height: 26px;
			color: #121318;
			border:0;
			@media (max-width: 1000px){
				padding: 15px;
				font-size: 16px;
				margin: 0;
			}
		}
	}
}
.welcome_block_header{
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 50px 0px;
	@media (max-width: 1000px){padding: 30px 0px;}
	.welcome_block_header_item{
		display: flex;
		align-items:center;
		.telegram_icon{
			margin-right: 20px;
		}
	}
	.mobile_blind{
		@media (max-width: 767px){display: none;}
	}
	.mobile_visibility{
		@media (min-width: 768px){display: none;}
	}
}
.main_block{
	width: 100vw;
	@media (min-width: 768px){
		height: 100vh;
		overflow: hidden;
		.main_block_menu{
			display: none;
		}
	}
	padding: 0% 4%;
	position: relative;
	display: flex;
	justify-content: space-between;
	box-sizing:border-box;
	@media (max-width: 767px){
		flex-direction: column;
	}
	.main_block_left,.main_block_right,.main_block_center{
		@media (min-width: 768px){
			overflow-y: auto;
			max-height: 100%;
			padding: 50px 0px;
		}
		&::-webkit-scrollbar-track {
			background-color: transparent; /*Цвет скролла*/
		} 
		&::-webkit-scrollbar-thumb { 
			border-radius: 0px; /*Закругление ползунка*/
			background-color: transparent; /*Цвет ползунка*/
		} 
		&::-webkit-scrollbar { 
			width: 0px;  /*Толщина скролла*/
		}
	}
	.main_block_left{
		width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		& > .login_button{
			font-size: 18px;
			font-weight: 500;
			margin-top: 80px;
			img{
				width: 20px;
				height: 20px;
				margin-right: 12px;
			}
		}
		@media (max-width:767px){
			display: none;
		}
	}
	.main_block_right{
		@media (min-width: 768px){
			width: 20%;
		}
		.main_block_right_element{
			width: 100%;
			.main_block_right_element_account{
				display: flex;
				justify-content: space-between;
				align-items:center;
				.grey_text{
					font-size: 12px;
				}
			}
			@media (max-width: 767px){
				display: none;
			}
		}
		.main_block_right_element_inline{
			display: flex;
			justify-content: space-between;
			align-items:center;
			@media (max-width: 767px){
				display: none;
			}
			& .telegram_icon{
				margin-left: 10px;
			}
			margin-bottom: 40px;
			@media (max-width: 1000px){
				flex-direction: column;
				justify-content: flex-start;
				align-items:flex-start;
				margin-bottom: 20px;
				.language_switcher{
					.language_item{
						padding-left: 0;
					}
				}
				.drop_down_menu_user{
					margin-top: 15px;
				}
			}
		}
	}
	.main_block_center{
		@media (min-width: 768px){
			width: 50%;
		}
		max-height: 100%;
		.main_block_center_top{
			width: 100%;
			.main_block_center_top_element{
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items:center;
				@media screen and (max-width: 479px) {
					flex-direction: column;
					align-items:flex-start;
				}
				.main_block_center_top_element_name{
					font-weight: 600;
					font-size: 24px;
					line-height: 19px;
					@media (max-width: 1200px){font-size: 20px;}
					@media (max-width: 1000px){font-size: 16px;}
				}
				.main_block_center_top_element_menu{
					background-color: #121317;
					border-radius: 15px;
					padding: 9px 14px;
					@media screen and (max-width: 479px) {
						width: 100%;
						display: flex;
						justify-content: space-between;
						box-sizing:border-box;
					}
					button{
						font-weight: 500;
						font-size: 12px;
						line-height: 18px;
						color: rgba(255, 255, 255, 0.5);
						width: 91px;
						@media (max-width: 1200px){width: 70px;}
						@media (max-width: 1200px){
							width: auto;
							padding: 5px 10px;
						}
						@media screen and (max-width: 479px) {
							padding: 10px 30px;
						}
						box-sizing:border-box;
						padding: 9px 0px;
						text-align: center;
						border-radius: 15px;
						border:0;
						background:transparent;
						cursor: pointer;
					}
					.main_block_center_top_element_menu_active{
						background: #18191C;
						color:white;
					}
				}
				p{
					line-height: 19px;
				}
				.main_block_center_top_element_side{
					p{
						font-size: 14px;
						@media (max-width: 1200px){font-size: 12px;}
						@media (max-width: 1000px){
							font-size: 10px;
							margin: 0px;
						}
					}
					&_inner{
						display: flex;
						align-items:center;
						&_r{
							justify-content: flex-end;
							@media screen and (max-width: 479px) {
								justify-content: flex-start;
							}
						}
					}
					.main_block_center_top_element_side_heading{
						font-weight: 600;
						font-size: 32px;
						line-height: 36px;
						@media (max-width: 1200px){font-size: 26px;}
						@media (max-width: 1000px){font-size: 18px;}
					}
					&_r{
						text-align: right;
					}

				}
			}
		}
		.main_block_center_content{
			width: 100%;
			margin-top: 50px;
			.main_block_center_content_element_line{
				width: 100%;
				justify-content: space-between;
				align-items:center;
				display: flex;
			}
		}
	}
	.drop_down_menu_buttons_element{
		margin-top: 20px;
	}
}
.statistical_figures{
	margin: 25px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	.statistical_figures_element{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px 0px;
		font-size: 14px;
		@media (max-width: 1000px){font-size: 12px;}
		.statistical_figures_element_main{
			display: flex;
			align-items:center;
			img{
				width: 24px;
				height: 24px;
				margin-right: 12px;
			}
			margin-right: 5px;
		}
		.grey_text{
			font-size: 12px;
			text-align: right;
		}
	}
}
.btn{
	border:0;
	border-radius:10px;
	font-weight: 500;
	font-size: 16px;
	padding: 17px 25px 17px 19px;
	@media (max-width: 1000px){
		padding: 12px 14px 12px 14px;
		font-size: 14px;
	}
	line-height: 13px;
	display: flex;
	align-items: center;
	cursor:pointer;
	&-blue{
		background-color: $blueColor;
		color:black;
		&:hover{
			background-color: #57D7FF;
		}
	}
	&-purple{
		background: linear-gradient(273.78deg, #930FFC 8.84%, #C824FF 53.8%, #D329FF 151.12%);
	}
	img{
		height: 16px;
		margin-right: 20px;
		@media (max-width: 1000px){margin-right: 10px;}
	}
}
.resources{
	width: 100%;
	.resources_block{
		box-sizing:border-box;
		padding: 17px;
		@media (max-width: 1000px){
			font-size: 14px;
		}
		width: 100%;
		border-radius:12px;
		margin-top: 20px;
		&-pink{
			background: linear-gradient(273.78deg, #9310FC 8.84%, #CA25FF 47.63%, #DC6CFF 102.85%);
		}
		&-blue{
			background: linear-gradient(273.78deg, #7A9EEF 8.84%, #1AC9EF 47.63%, #00F4F4 102.85%);
		}
		img{
			height: 36px;
		}
		p{
			color:black;
		}
		.resources_block_currency{
			display: flex;
			justify-content: space-between;
			font-weight: 600;
			line-height: 13px;
			span{
				color:black;
			}
			:first-child{
				font-size: 20px;
				@media (max-width: 1200px){font-size: 16px;}
				@media screen and (max-width: 1000px) and (min-width: 768px){font-size: 14px;}
			}
			:nth-child(2){
				font-size: 16px;
				@media (max-width: 1200px){font-size: 14px;}
				@media screen and (max-width: 1000px) and (min-width: 768px){display: none;}
			}
		}
	}
}
.decorated_select{
	@media (max-width: 1200px){font-size: 14px;}
	@media (max-width: 1000px){font-size: 12px;}
	margin-left: 10px;
	position: relative;
	cursor: pointer;
	.decorated_select_active{
		box-sizing:border-box;
		padding: 0px 10px;
		border-radius: 5px;
		background: #FECA0E;
		display: flex;
		align-items:center;
		justify-content: center;
		span{
			border-radius: 5px;
			color:black;
			font-weight: 600;
		}
		&_img{
			width: 7px;
			margin-left: 3px;
		}
	}
	.decorated_select_hide{
		position: absolute;
		display: none;
		background: #191A1E;
		border-radius: 5px;
		padding: 20px 15px;
		&_element{
			display: flex;
			color: rgba(255, 255, 255, 0.5);
			margin-bottom: 5px;
			cursor: pointer;
			span{
				margin-right: 5px;
			}
			&:hover{
				color:white;
			}
		}
	}
}
.forCopy{
	background: #18191C;
	border-radius: 12px;
	padding: 15px 22px;
	display: flex;
	justify-content: center;
	align-items:center;
	&_text{
		font-size: 12px;
	}
	&_button{
		margin-left: 15px;
		img{
			height: 15px;
		}
		cursor: pointer;
	}
}
.mobile_blind{
	@media (max-width: 767px){display: none;}
}
.chart{
	margin-top: 50px;
	width: 100%;
	max-width: 100%;
}